<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>得到</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.38, minimum-scale=1.38, maximum-scale=1.38, user-scalable=no"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .img-box{
            padding-bottom:100%;
        }
        .img-box img{
            /*position:absolute;*/
            top:0;
            bottom:0;
            left:0;
            right:0;
            width:100%;
            margin:auto;
        }
    </style>
</head>
<body>
<div>
    <div id="vue-content" :style="{padding: '2px 2px ' + (audioHeight() + 10) + 'px'}">
        <div v-if="showBackIcon" style="position: fixed; z-index: 10000; left: 20px;
            font-size: 4rem; color: gray; opacity:0.5; cursor: pointer" :style="{bottom: (audioHeight() + 20) + 'px'}">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" @click="backHandler()"></span>
        </div>
        <!--音频-->
        <div style="display: flex; justify-content: center">
            <audio v-for="(obsKey, index) in currentCourseObj['audioList']" :src="obsKeyToPathMap[obsKey]"
                   :tiggerLoad="audioSrc(obsKey)" ref="audio" @ended="audioEndedHandler(obsKey, $event)"
                   @pause="audioPauseHandler(obsKey, $event)" @canplay="audioCanplayHandler(obsKey, $event)"
                   autoplay="autoplay" preload="auto" controls="controls" style="display: block; width: 100%; position: fixed; z-index: 10000; bottom: 10px;">
            </audio>
        </div>
        <!--评论按钮-->
        <div v-if="!showList" :style="{bottom: (audioHeight() + 20) + 'px'}" style="display: block; position: fixed; z-index: 10000; right: 20px">
            <div @click="showCommentHandler(true)" style="font-size: 2.5rem;" class="glyphicon glyphicon-pencil"></div>
        </div>
        <!--评论-->
        <div v-if="showComment" :style="{height: window.innerHeight + 'px'}"
             style="display: block; position: fixed; z-index: 11000; width: 100%; background-color: black; opacity: 0.9">
            <div style="display: flex; justify-content: center">
                <div style="display: block; width: 96%; position: fixed; z-index: 10000; top: 10px;">
                    <textarea v-model="currentComment" class="form-control" rows="10"></textarea>
                    <div style="text-align: right">
                        <button @click="showCommentHandler(false)" type="button" class="btn btn-danger" style="margin-top: 5px">关闭</button>
                        <button @click="saveCommentHandler()" type="button" class="btn btn-success" style="margin-top: 5px">保存并关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <!--列表-->
        <div v-if="showList">
            <ul class="list-group" v-for="(key, index) in Object.keys(courseList).sort()" :key="index">
                <li class="list-group-item" :style="courseStyle(key)">
                    <span style="cursor: pointer" @click="goHandler(key)">
                        {{key}}
                        <span v-if="Object.keys(courseList[key]).length == 0" style="color: red">空</span>
                    </span>
                    <span v-if="isCourse(key)" style="display: flex; font-size: 1.7rem;">
                        <span @click="showCommentHandler(true, key)" class="glyphicon glyphicon-pencil" style="margin-right: 8px"></span>
                        <span v-if="hasAudioList(key)" @click="playAudio(courseList[key]['audioList'], key)"
                               :class="{'glyphicon-play': key != activeAudioCourseName, 'glyphicon-pause': key == activeAudioCourseName}"
                               class="glyphicon" aria-hidden="true"></span>
                    </span>
                </li>
            </ul>
        </div>
        <!--课程-->
        <div v-if="!showList">
            <!--pdf-->
            <iframe v-for="obsKey in currentCourseObj['pdfList']" :src="obsKeyToPathMap[obsKey]" :tiggerLoad="pdfIframeSrc(obsKey)"
                    :style="{width: '100%', height: window.innerHeight + 'px'}"></iframe>
            <!--图片-->
            <div v-if="currentCourseObj['pictureList']" ref="imgBoxWrapper" @scroll="imgBoxWrapperScrollHandler"
                 :style="{height: window.innerHeight + 'px', overflowY: 'scroll', overflowScrolling: 'touch'}">
                <div class="img-box">
                    <img v-for="obsKey in currentCourseObj['pictureList']" :src="obsKeyToPathMap[obsKey]" :tiggerLoad="pictureSrc(obsKey)"
                         @load="imgLoadHandler(obsKey)" alt="加载中" style="display: block">
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/static/js/jquery.3.3.1.min.js" type="text/javascript"></script>
<script src="/static/js/vue.2.5.21.min.js" type="text/javascript"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script>

    var vueContent = new Vue({
        el: '#vue-content',
        data: {
            catalogue: {}, // 课程目录
            userConf: {}, // 用户配置
            showList: true,
            paths: [], // 层次路径
            activeAudioCourseName: '', // 当前激活播放的课程名
            activeCommentCourseName: '', // 当前激活评论的课程名
            currentCourseObj: {}, // 当前打开的课程
            currentCourseStatus: {}, // 当前课程状态
            currentComment: '', // 评论
            showComment: false,

            obsKeyToPathMap: {} // 课程路径 -> src
        },
        methods: {
            goHandler: function (key) {
                if (this.showList) {
                    setThenAjax(this.userConf, this.paths, 'scrollTop', window.scrollY);
                }

                this.paths.push(key);
                let courseObj = get(this.catalogue, this.paths);
                if (courseObj['audioList'] || courseObj['pictureList']) {
                    // 配合监测图片是否完全加载完成
                    if (courseObj['pictureList']) {
                        Vue.set(this.currentCourseStatus, 'pictureListLength', courseObj['pictureList'].length);
                        Vue.set(this.currentCourseStatus, 'pictureList', []);
                    }
                    // 记录当前点击的课程
                    set(this.userConf, ['lastCourse'], 'paths', this.paths.slice(0, -1));
                    setThenAjaxThenForceUpdate(this.userConf, ['lastCourse'], 'name', this.paths.slice(-1)[0]);

                    this.showList = false;
                    this.currentCourseObj = courseObj;
                } else {
                    Vue.nextTick(() => {
                        window.scrollTo(0, get(this.userConf, this.paths, 'scrollTop', 0))
                    });
                }
            },
            backHandler: function () {
                if (!this.showList) {
                    setThenAjax(this.userConf, this.paths, 'scrollTop', $(this.$refs.imgBoxWrapper).scrollTop());
                    const finishReading = get(this.userConf, this.paths, 'finishReading', false);
                    if (!finishReading) {
                        setThenAjax(this.userConf, this.paths, 'finishReading', scrollBottom($(this.$refs.imgBoxWrapper)) < 500);
                    }
                    this.showList = true;
                    this.currentCourseStatus = {};
                }
                this.paths.pop();
                if (this.showList) {
                    Vue.nextTick(() => {
                        window.scrollTo(0, get(this.userConf, this.paths, 'scrollTop', 0))
                    })
                }
            },
            isCourse: function (key) {
                return !!(this.courseList[key]['audioList'] || this.courseList[key]['pictureList'])
            },
            hasAudioList: function (key) {
                return !!this.courseList[key]['audioList']
            },
            audioSrc: function (obsKey) {
                let _this = this;
                $.post(`/assist/loadObs?obsKey=${obsKey}`, function (url) {
                    Vue.set(_this.obsKeyToPathMap, obsKey, url);
                });
            },
            pdfIframeSrc: function (obsKey) {
                let _this = this;
                $.post(`/assist/loadObs?obsKey=${obsKey}`, function (url) {
                    let pdfUrl = '/static/plugins/pdfJs/generic/web/viewer.html?file=' + encodeURIComponent(url);
                    Vue.set(_this.obsKeyToPathMap, obsKey, pdfUrl);
                });
            },
            pictureSrc: function (obsKey) {
                let _this = this;
                $.post(`/assist/loadObs?obsKey=${obsKey}`, function (url) {
                    Vue.set(_this.obsKeyToPathMap, obsKey, url);
                });
            },
            playAudio: function (audioList, courseName) {
                Vue.set(this.currentCourseObj, 'audioList', audioList);
                this.activeAudioCourseName = courseName;

                // 记录当前点击的课程
                set(this.userConf, ['lastCourse'], 'paths', this.paths);
                setThenAjaxThenForceUpdate(this.userConf, ['lastCourse'], 'name', courseName);
            },
            audioEndedHandler: function (audioObsKey, $event) {
                const finalPaths = this.showList ? [].concat(this.paths).concat(this.activeAudioCourseName) : this.paths;
                setThenAjax(this.userConf, finalPaths.concat('audioStatus'), audioObsKey, -1);

                let currentFinishReading = get(this.userConf, finalPaths, 'finishReading');
                if (!currentFinishReading) {
                    const audioStatus = get(this.userConf, finalPaths, 'audioStatus');
                    if (Object.keys(audioStatus).length > 0) {
                        let finishReading = true;
                        for (let key of Object.keys(audioStatus)) {
                            finishReading &= (audioStatus[key] === -1);
                        }
                        setThenAjaxThenForceUpdate(this.userConf, finalPaths, 'finishReading', !!finishReading);
                    }
                }
            },
            audioPauseHandler: function (audioObsKey, $event) {
                const finalPaths = this.showList ? [].concat(this.paths).concat(this.activeAudioCourseName) : this.paths;
                setThenAjax(this.userConf, finalPaths.concat('audioStatus'), audioObsKey, $event.target.currentTime);
            },
            audioCanplayHandler: function (audioObsKey, $event) {
                const finalPaths = this.showList ? [].concat(this.paths).concat(this.activeAudioCourseName) : this.paths;
                let lastTime = get(this.userConf, finalPaths.concat('audioStatus'), audioObsKey, 0);
                lastTime = lastTime < 0 ? 0 : lastTime;
                if ($event.target.currentTime != lastTime) {
                    $event.target.currentTime = lastTime;
                }
            },
            imgLoadHandler: function (obsKey) {
                Vue.set(this.currentCourseStatus, 'pictureList', [obsKey].concat(this.currentCourseStatus['pictureList']));
                Vue.nextTick(() => {
                    if (this.currentCourseStatus['pictureList'].length == this.currentCourseStatus['pictureListLength']) {
                        $(this.$refs.imgBoxWrapper).scrollTop(get(this.userConf, this.paths, 'scrollTop', 0))
                    }
                })
            },
            courseColor: function (courseName) {
                if (get(this.userConf, [].concat(this.paths).concat(courseName), 'finishReading', false)) {
                    return 'lightgray'
                }
                if (compareArray(get(this.userConf, ['lastCourse'], 'paths'), this.paths)) {
                    if (get(this.userConf, ['lastCourse'], 'name') == courseName) {
                        return 'orange';
                    }
                }
            },
            courseStyle: function (key) {
                if (this.isCourse(key)) {
                    return {
                        display: 'flex',
                        'justify-content': 'space-between',
                        'align-items': 'center',
                        'color': this.courseColor(key)
                    }
                } else {
                    return {
                        'color': this.courseColor(key)
                    }
                }
            },
            showCommentHandler: function (status, activeCommentCourseName) {
                this.showComment = status;
                if (activeCommentCourseName) {
                    this.activeCommentCourseName = activeCommentCourseName;
                }
                if (status) {
                    const finalPaths = this.showList ? [].concat(this.paths).concat(this.activeCommentCourseName) : this.paths;
                    this.currentComment = get(this.userConf, finalPaths, 'comment');
                }
            },
            saveCommentHandler: function () {
                if (this.currentComment) {
                    const finalPaths = this.showList ? [].concat(this.paths).concat(this.activeCommentCourseName) : this.paths;
                    setThenAjax(this.userConf, finalPaths, 'comment', this.currentComment);
                }
                this.showComment = false;
            },
            audioHeight: function () {
                return $(this.$refs.audio).outerHeight() || 0
            },
            imgBoxWrapperScrollHandler: function () {
                const finishReading = get(this.userConf, this.paths, 'finishReading', false);
                if (!finishReading) {
                    setThenAjax(this.userConf, this.paths, 'finishReading', scrollBottom($(this.$refs.imgBoxWrapper)) < 500);
                }
            }
        },
        computed: {
            courseList: function () {
                return get(this.catalogue, this.paths);
            },
            showBackIcon: function () {
                return this.paths.length > 0;
            }
        },
        watch: {
            userConf: function (oldValue, newValue) {

            }
        }
    });

    function setThenAjaxThenForceUpdate(obj = {}, paths = [], key, val) {
        setThenAjax(obj, paths, key, val);
        vueContent.$forceUpdate();
    }

    function setThenAjax(obj = {}, paths = [], key, val) {
        set(obj, paths, key, val);
        $.ajax({
            type: 'post',
            url: '/assist/updateUserConf/[[${confName}]]',
            contentType: 'application/json',
            data: JSON.stringify(vueContent.userConf)
        });
    }

    function set(obj = {}, paths = [], key, val) {
        let tempObj = obj;
        for (let path of paths) {
            if (!tempObj[path]) {
                tempObj[path] = {};
            }
            tempObj = tempObj[path];
        }
        tempObj[key] = val;
    }

    function get(obj = {}, paths = [], key, defaultVal) {
        let tempObj = obj;
        for (let path of paths) {
            if (!tempObj[path]) {
                return null;
            }
            tempObj = tempObj[path];
        }
        if (key) {
            return tempObj[key] || defaultVal;
        }
        return tempObj || defaultVal;
    }
    
    function compareArray(arr1 = [], arr2 = []) {
        for (let index in arr1) {
            if (!arr1[index] == arr2[index]) {
                return false;
            }
        }
        return true;
    }
    
    function scrollBottom($ele) {
        return $ele[0].scrollHeight - $ele[0].scrollTop - $ele[0].clientHeight;
    }

    // $.ajax({
    //     type: 'post',
    //     url: '/assist/loadAudio',
    //     data: {},
    //     dataType: 'text',
    //     success: function (data) {
    //         console.log(data)
    //
    //         var audio = $('#audio')[0];
    //         // audio.src = data;
    //
    //     }
    // });

    // 加载课程目录
    $.ajax({
        type: 'post',
        url: '/assist/loadCatalogue',
        data: {},
        success: function (catalogue) {
            vueContent.catalogue = catalogue;
        }
    });
    // 加载用户配置
    $.ajax({
        type: 'post',
        url: '/assist/loadUserConf/[[${confName}]]',
        data: {},
        success: function (userConf) {
            vueContent.userConf = userConf;
        }
    });

</script>

</html>